
<div *ngIf="!this.authService.isUserLoggedin()">
    <div class="container text-center mt-5">
        <div *ngFor= "let project of projects"> 
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body">
                <h5 class="card-title">{{project.title}} </h5>
                <p class="card-text">{{project.description}}</p>
                <a href="{{project.urlLink}}"  class="card-link">Link</a>
                </div>
             </div>
        </div> 
    </div>
</div>

<div *ngIf="this.authService.isUserLoggedin()">
    <div class="container text-center mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">URL</th>
                    <th scope="col"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newModal" (click)="cleanOneProject()">  <i class="bi bi-plus-circle"></i>  </button></th>
                </tr>
            </thead>
            <tbody *ngFor="let project of projects; let i = index">                
                <tr>
                    <th scope="row" class="text-truncate" style="max-width: 150px;" >{{project.id}}</th>
                    <td class="text-truncate" style="max-width: 150px;">{{project.title}}</td>
                    <td class="text-truncate" style="max-width: 150px;">{{project.description}}</td>
                    <td class="text-truncate" style="max-width: 150px;">{{project.urlLink}}</td>
                    <td class="text-truncate" style="max-width: 150px;"><button type="button" class="btn btn-secondary mr-1" data-toggle="modal" data-target="#updateModal" (click)="getProject(i)"> <i class="bi bi-pencil-fill"></i></button>
                        <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#deleteModal" (click)="getProject(i)">  <i class="bi bi-trash"></i></button>    </td>
                </tr>
                    
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newModalLabel">New project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form #addForm="ngForm">

                <div class="form-group">
                  <label for="title-name" class="col-form-label">Title</label>
                  <input type="text" class="form-control" id="title-name"  ngModel="{{oneProject.title}}" name="title" placeholder="">
                </div>
                <div class="form-group">
                  <label for="description-text" class="col-form-label">Description</label>
                  <textarea class="form-control" id="description-text" ngModel="{{oneProject.description}}" name="description" placeholder=""></textarea>
                </div>
                <div class="form-group">
                    <label for="url-text" class="col-form-label">URL</label>
                    <textarea class="form-control" id="url-text" ngModel="{{oneProject.urlLink}}" name="urlLink" placeholder=""></textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addProject(addForm.value)">Confirm</button>
                </div>

              </form>
            </div>           
          </div>
        </div>
      </div>      

      <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateModalLabel">Update project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #updateForm="ngForm">

                <div class="form-group">                  
                    <label for="id-name" class="col-form-label">ID</label>  
                    <input class="form-control" type="text" ngModel="{{this.oneProject.id}}" name="id"  placeholder="{{this.oneProject.id}}" readonly>                  
                </div>
                <div class="form-group">   
                  <label for="title-name" class="col-form-label">Title</label>                
                  <input type="text" class="form-control" id="title-name" ngModel="{{this.oneProject.title}}" name="title">
                </div>
                <div class="form-group">
                  <label for="description-text" class="col-form-label">Description</label>
                  <textarea class="form-control" id="description-text" ngModel="{{this.oneProject.description}}" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="url-text" class="col-form-label">URL</label>
                    <textarea class="form-control" id="url-text" ngModel="{{this.oneProject.urlLink}}" name="urlLink"></textarea>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProject(updateForm.value)">Confirm</button>
                  </div>

              </form>
            </div>            
          </div>
        </div>
      </div>
        
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure to delete this project? {{oneProject.title}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProject(oneProject.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
</div>


  