<nav>    
    <!-- <div class="container" [style.background-image]="'url(assets/img/background-light.png)'"></div>    v tomto  dive vnútri musi byt darz čo v čom chcem zobraziž image-->
    <ul class="navbar-nav mr-3 mt-3">   
        <li class="ml-auto ">
          <button *ngIf="!this.authService.isLoggedIn" type="button" class="btn btn-light btn-sm" routerLink="/login">Sign in</button>
          <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>
        </li>
    </ul>  
  
    <h1 class="text-center mt-5">Andrej Duchoslav</h1>
  
    <div class="text-center mt-5">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/about"><h4>About</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/experience"><h4>Experience</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/projects"><h4>Projects</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/articles"><h4>Articles</h4></a>
            </li>      
        </ul>
    </div>       
</nav>
